@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  margin: 0px;
  background: rgba(24, 24, 24, 1.0);
}

/*App*/

.main-container {
  font-family: 'Open Sans', sans-serif;
}

.container {
  border-left: 5px solid rgba(64, 64, 64, 1.0);
  border-right: 5px solid rgba(64, 64, 64, 1.0);
}

.module-container {
  max-width: 960px;
  margin: 0 auto;
}

/*App Component*/

.albums-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding-top: 7px;
  min-height: 40px;
  min-width: 125px;
  border-radius: 5px;
  border: 3px solid rgba(78, 161, 189, 1.0);
  color: rgba(78, 161, 189, 1.0);
  font: bold;
  font-size: 1.1em;
  background: black;
  float: right;
}

.albums-button:hover {
  background: rgba(78, 161, 189, 1.0);
  color: black;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .albums-button {
      float: none;
      margin-left: 80%;
  }
}

@media (max-width: 1000px) {
  .albums-button {
    margin-left: 45%;
    float: none;
  }
}

/*Albums Component*/

.search-row {
  margin-bottom: 25px;
}

ul {
  list-style-type: none;
}

.info-button {
  height: 40px;
  border-radius: 5px;
  border: 3px solid rgba(255, 197, 58, 1.0);
  color: rgba(255, 197, 58, 1.0);
  font: bold;
  font-size: 1.1em;
  background: black;
  float: right;
}

.info-button:hover {
  background: rgba(255, 197, 58, 1.0);
  color: black;
}

.info-button:focus {
  outline: none;
  color: (4, 98, 129, 1.0);
}

@media (max-width: 1210px) {
  .info-button {
    float: none;
    margin-left: 50%;
  }
}

@media (max-width: 1000px) {
  .info-button {
    margin-left: 45%;
    margin-top: 2%;
    float: none;
  }
}

.albums {
  padding: 25px;
  margin-top: 25px;
}

/*Album*/

.album {
  margin: 10px;
  font-size: 1.5em;
  color: rgba(128, 128, 128, 1.0);
}

.album-details {
  border-top: 2px solid rgba(7, 126, 165, 1.0);
  border-bottom: 2px solid rgba(7, 126, 165, 1.0);
}

.less-info:hover {
  color: rgba(78, 161, 189, 1.0);
}

.album-links {
  color: rgba(128, 128, 128, 1.0);
  text-decoration: none;
}

.album-links:hover {
  color: rgba(78, 161, 189, 1.0);
  text-decoration: none;
}

img.thumb {
  height: 75px;
  width: 75px;
  margin-top: 9px;
  margin-bottom: 20px;
  border: 3px solid rgba(128, 128, 128, 1.0);
  border-radius: 4px;
}

.image-column {
  width: 175px;
  padding-top: 10px;
}

/*Search*/

form.album-form {
  display: inline-block;
}

@media (max-width: 1200px) {
  form.album-form {
    margin-left: 5%;
  }
}

@media (max-width: 1000px) {
  form.album-form {
    margin-left: 37%;
  }
}

input.album-search {
  background: rgba(34, 34, 34, 1.0);
  border: 0;
  outline: none;
  color: rgba(255, 197, 58, 1.0);
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px;
}

input.album-search:hover {
  background: rgba(44, 44, 44, 1.0);
}

/*Single Album*/

.regular-image {
  margin-bottom: 25px;
  border: 3px solid rgba(128, 128, 128, 1.0);
  border-radius: 4px;
}

.album-info {
  margin-top: 10px;
}

@media (max-width: 600px) {
  .album-info {
    margin-left: 20%;
  }
}

/*Parallax*/

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}

section.module.content {
  padding: 40px 0;
  min-height: 800px;
}

section.module.parallax {
  height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.small-parallax {
  height: 50px;
  margin-bottom: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 400px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
  background-image: url("../images/Elegant_Background.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}

@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
