@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  margin: 0px;
  background: rgba(24, 24, 24, 1.0);
}

img.thumb {
  height: 150px;
  width: 150px;
  margin-bottom: 25px;
  border: 3px solid rgba(98, 98, 98, 1.0);
  border-radius: 4px;
}

.image-column {
  width: 175px;
  padding-top: 10px;
}

.albums {
  padding: 25px;
  margin-top: 25px;
}

.album {
  margin: 10px;
  font-size: 1.5em;
  color: rgba(98, 98, 98, 1.0);
}

.less-info:hover {
  color: rgba(78, 161, 189, 1.0);
}

.more-info {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 20px;
}

.album-info {
  margin-top: 10px;
}

form.album-form {
  display: inline-block;
}

input.album-search {
  background: rgba(34, 34, 34, 1.0);
  border: 0;
  outline: none;
  color: rgba(255, 197, 58, 1.0);
  /*color: rgba(78, 161, 189, 1.0);*/
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px;
}

input.album-search:hover {
  background: rgba(44, 44, 44, 1.0);
}

.search-row {
  margin-bottom: 25px;
}

.main-container {
  font-family: 'Open Sans', sans-serif;
}

.container {
  border-left: 5px solid rgba(64, 64, 64, 1.0);
  border-right: 5px solid rgba(64, 64, 64, 1.0);
}

ul {
  list-style-type: none;
}

.info-button {
  height: 40px;
  border-radius: 5px;
  border: 3px solid rgba(255, 197, 58, 1.0);
  color: rgba(255, 197, 58, 1.0);
  font: bold;
  font-size: 1.1em;
  background: black;
}

.info-button:hover {
  background: rgba(255, 197, 58, 1.0);
  color: black;
}

.info-button:focus {
  outline: none;
  color: (4, 98, 129, 1.0);
}

.module-container {
  max-width: 960px;
  margin: 0 auto;
}

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}

section.module.content {
  padding: 40px 0;
  min-height: 1000px;
}

section.module.parallax {
  height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 400px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
  background-image: url("../images/Elegant_Background.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
